<div class="panel panel-info">
    <div class="panel-heading">
        <h3>Customizing widgets with options</h3>
    </div>
    <div class="panel-body">
        Options are customizable properties of widgets. All options have default values that
        are used when no options are explicitly passed. Recall how you instantiated the dialog
        in section 2.1:
    </div>
</div>
<pre>
    <code>
$( &quot;#dialog&quot; ).dialog();
    </code>
</pre>
<div class="panel panel-info">
    <div class="panel-body">
        No options are specified, so the default set is used. Let’s customize these defaults to
        build something practical. Suppose you need to display a notification to the user after
        a long-running task, such as uploading a series of files, completes.
        The following code creates a new <div> and converts it to a dialog with the title
        and buttons options set:
    </div>
</div>